@media screen and (max-width:800px){
    header {
        flex-direction: column;
    }
    header > img {
        margin-bottom: 15px;
    }
    main .section01 h1 {
        font-size: 2.5rem;
        margin: 2px 2px 10px 2px;
    }
    main .section01 h3 {
        font-size: 1.2rem;
        margin: 2px 2px 15px 2px;
    }
}