@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 20px 50px;
    
}
header > img {
    width: 260px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin: 0 15px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li:last-child {
    margin-right: 0px;
}
nav ul a {
    text-decoration: none;
    color: #191c03;
}
main .section01 {
    background: #ccc;
    background-image: url(../img/hero1.jpg);
    background-size: cover;
    min-height: calc(100vh - 98.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
main .section01 h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.247);
}
main .section01 h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.247);
}
main .section01 .btn {
    background: #fff;
    color: #191c03;
    padding: 20px 50px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.247);
}
main .section02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 50px;
}
main .section02 h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}
main .section02 p {
    max-width: 800px;
    margin-bottom: 30px;
}
main .section02 hr {
    background: #191c03;
    width: 200px;
    height: 2px;
    border: none;
    margin-bottom: 70px;
}
main .section02 .grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
}
main .section02 .grid li {
    height: 350px;
    padding: 20px;
    background-position: center;
    background-clip: content-box;
    background-size: cover;
}
main .section02 .small {
    flex-basis: 40%;
}
main .section02 .larger {
    flex-basis: 60%;
}
main .section03 {
    background: #191c03;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 50px;
    color: #fff;
}
main .section03 h3 {
    font-size: 2rem;
    margin-bottom: 30px;
}
main .section03 > p {
    max-width: 800px;
    margin-bottom: 30px;
}
main .section03 hr {
    background-color: #fff;
    width: 200px;
    height: 2px;
    border: none;
    margin-bottom: 70px;
}
main .section03 .grid {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
main .section03 .grid li {
    padding: 0px 30px;
}
main .section03 .grid li i {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #c3c63b;
}
main .section03 .grid li h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #c3c63b;
}
main .section03 .grid li p {
    max-width: 800px;
}